

    <h1>Quotes Page</h1>
    <p>Welcome to your source for quotations of any topic.</p>
    <ul> 
        <div *ngFor='let quote of quotes;let i =index'>
      <li >{{quote.name}}</li>
      <button title="upVotes" ng-click="changeVote(vote,'up'"class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up'] ">Like</button>
      <button title="downVotes" ng-click="changeVote(vote,'down'"class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'down', false:''}[vote=='down'] ">Dislike</button>
    
      <!-- <button (click)='likeClick'>Like</button>
      <button (click)= 'dislikeClick'>Dislike</button> -->
        <app-quote-particular [quote] ='quote'></app-quote-particular> 
    </div>      
    </ul>
  