<div class="container">
 <h1><b>Quotes Page</b></h1>
 <hr>
 <div class="row">
     <div class="col-md-6">
    <p>Welcome to your source for quotations of any topic.</p>
    <ul> 
        <div *ngFor='let quote of quotes;let i =index'>
      <li appStrikethrough>{{quote.name}}<br> Due on <b>{{quote.completeDate|date}}</b></li>
      <button (click)='quoteDetails(i)'>More...</button>
      <!-- <button title="upVotes" ng-click="changeVote(vote,'up'"class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'up', false:''}[vote=='up'] ">Like</button>
      <button title="downVotes" ng-click="changeVote(vote,'down'"class="fa fa-arrow-circle-up fa-2x" ng-class="{true:'down', false:''}[vote=='down'] ">Dislike</button> -->
    
      <!-- <button (click)='likeClick'>Like</button>
      <button (click)= 'dislikeClick'>Dislike</button> -->
     
      <app-quote-particular *ngIf='quote.showDetails' [quote] ='quote' >
                <!-- (isComplete)=deleteQuote($event,i) -->
        </app-quote-particular> 
    </div>      
    </ul>
</div>
<div class="col-md-6">
    <app-quote-form></app-quote-form>
</div>
</div>
</div>