/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"
.submit{
    color:black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4;
}
.form-fill{
    background-color:rgb(127, 255, 217);
};