<div class="container-fluid">
    <h2 class="text-centre">Add a new Quote</h2>
<hr>
<form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
<div class="form-fill">
    <label for="name">Username</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is required</p>
    </div>
   
</div><br>
<div class="form-fill">
    <label for="quote">Quote</label>
    <textarea class="form-control" id="quote" cols="60" rows="3" [(ngModel)]="newQuote.name" name="name" #quote="ngModel" required></textarea>
    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
        <p>Quote is required</p>
    </div>
    
</div>
<div class="form-fill">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required>
    Display {{newQuote.name}}<br>
    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author is required</p>
    </div>
   
</div>

<div class="form-fill">
    <label for="date">Date of Creation</label>
    <input type="date" id="date" required>
    <!-- <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
        <p>Complete date is required</p>
    </div> -->
</div>
<button type="submit">Add Quote</button>
</form>
</div>
